$primary_color_text: #201e51;
$primary_color_text_second: #ffffff;
$primary_bg_color: $primary_color_text;
$primary_bg_color_second: #2489bb;
$form_color_submit: #d78346;
$form_color_submit_second: #a15216;
$form_border_color: #dcdcdc;
$form_color_placeholder: #435b61;
$form_bg_color: #f7f7f7;
$form_color_text: #435b61;
$baner_bg_color: $primary_color_text_second;
$link_color_hover: $form_color_submit;
$button_bg_color: $primary_color_text_second;
$button_border_color: $primary_color_text_second;
$header_height: 57px;
$footer_height: 140px;
