.header {
    color: $primary_color_text;
    position: relative;


    &__phone {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    &__logo {
        width: 278px;
        height: 84px;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 188px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 2;
    }

    &__banner {
        position: relative;
        width: 100%;
        height: 424px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: #fff;
            opacity: 72%;
        }

        &-overlay {
            position: absolute;
            top: -1093px;
            bottom: 0;
            right: 0;
            left: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% -11px;
        }
    }

    &__text {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 295px;
        margin: 0 auto;
    }

    &__title {
        display: block;
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        text-align: center;
        bottom: 133px;
    }

    &__item {
        color: $primary_bg_color_second;
        font-size: 74px;
        font-weight: bold;
        position: absolute;
        bottom: 52px;
    }

    &__description {
        font-size: 21px;
        font-weight: bold;
        position: absolute;
        bottom: 23px;
    }
}

///media-querys///

@media screen and (min-width: 480px) {
    .header {
        &__title {
            font-size: 60px;
            bottom: 170px;
        }

        &__text {
            margin-left: 40px;
            width: 400px;
            margin: 0 auto;
        }

        &__item {
            font-size: 100px;
            bottom: 75px;
        }

        &__description {
            font-size: 40px;
            bottom: 40px;
        }

        &__logo {
            width: 330px;
            height: 104px;
            bottom: 240px;
        }
    }
}


@media screen and (min-width: 991px) {

    .header {

        &__banner {
            height: 574px;
        }

        &__title {
            font-size: 75px;
            bottom: 240px;
            left: 103px;
        }

        &__text {
            margin-left: 40px;
            width: 600px;
        }

        &__item {
            font-size: 144px;
            bottom: 85px;
            left: 98px;
        }

        &__description {
            font-size: 44px;
            bottom: 30px;
            left: 103px;
        }

        &__logo {
            width: 413px;
            height: 126px;
            bottom: 321px;
            left: 60px;
            right: auto;
        }

        &__phone {
            top: 36px;
            right: 76px;
            font-size: 42px;
        }
    }
}

@media screen and (min-width: 1280px) {

    .header {

        &__logo {
            left: 157px;
        }
    }
}

