$primary_color_text: #201e51;
$primary_color_text_second: #ffffff;
$primary_bg_color: #201e51;
$primary_bg_color_second: #2489bb;
$header_height: 57px;
$footer_height: 140px;


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
a {
    margin: 0;
}

p:empty {
    display: none;
}

span:empty {
    display: none;
}

main {
    min-height: calc(100vh - #{$header_height} - #{$footer_height});
}

.header {
    color: $primary_color_text;
    position: relative;

    &__phone {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    &__banner {
        position: relative;
        width: 100%;
        min-height: 420px;
        height: 530px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: #fff;
            opacity: 72%;
        }

        &-overlay {
            position: absolute;
            top: -1093px;
            bottom: 0;
            right: 0;
            left: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 49% 43px;
        }
    }

    &__text {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 295px;
        margin: 0 auto;
    }

    &__title {
        display: block;
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        text-align: center;
        bottom: 150px;
    }

    &__item {
        color: $primary_bg_color_second;
        font-size: 74px;
        font-weight: bold;
        position: absolute;
        bottom: 65px;
    }

    &__description {
        font-size: 21px;
        font-weight: bold;
        position: absolute;
        bottom: 45px;
    }


}

.form {
    color: #435b61;

    &__time {
        display: flex;
        font-size: 14px;
        align-items: baseline;
        justify-content: space-between;
    }

    &__input,
    &__submit {
        padding: 10px 19px;
        width: 100%;
        height: 59px;
    }

    &__input {
        font-size: 16px;
        border-radius: 0;
        border: 1px solid #dcdcdc;
        margin-bottom: 17px;

        &::placeholder {
            color: #435b61;
        }

        &:focus {
            border-radius: 0;
            border: none;
        }

        &-radio {
            border: none;
        }
    }

    &__submit {
        background-color: #d78346;
        color: $primary_color_text_second;
        text-transform: uppercase;
        font-size: 20px;
        border: none;
        border-radius: 2px;
        box-shadow: 0 3px 1px 0 #a15216;
        margin-bottom: 10px;
    }

    &__top {
        background-color: $primary_bg_color_second;
        color: $primary_color_text_second;
        padding: 17px;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
    }

    &__description {
        font-size: 15px;
    }

    &__body {
        background-color: #f7f7f7;
        padding: 17px;
    }

    &__text,
    &__bottom {
        font-size: 14px;
    }

    &__text {
        text-align: left;
        margin-bottom: 17px;
    }

    &__bottom {
        text-align: center;
        max-width: 195px;
        margin: 0 auto;
    }

    &__notice {
        font-size: 12px;
        margin-bottom: 27px;
    }

}

.wpcf7-not-valid-tip {
    margin-top: -14px;
}

.sectionCounter {
    background-color: $primary_bg_color;
    padding: 50px;
    color: $primary_color_text_second;

    &__title {
        font-size: 29px;
        font-weight: 400;
        text-align: center;
    }
}

.sliderSection {
    background-color: $primary_bg_color_second;
    color: $primary_color_text_second;
    text-align: center;
    padding-top: 15px;

    &__text {
        margin-bottom: 20px;
    }

    &__bottom {
        margin: 0 auto;
        width: 255px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 17px;
    }

    &__link {
        display: block;
        color: rgb(51, 41, 41);
        border: 2px solid #fff;
        padding: 17px;
        text-decoration: none;
        border-radius: 5px;
        color: $primary_color_text_second;
        width: 204px;
    }

    &__title {
        font-size: 22px;
        font-weight: 700;
        line-height: 60px;
        padding-bottom: 15px;

        &-bottom {
            padding-bottom: 0;
            padding-top: 0;
        }
    }
}

.sliderImages {
    padding-top: 10px;
    max-width: 1002px;
    margin: 0 auto;

    &__item {
        width: 100%;
        background-size: cover;
        height: 200px;
    }

    &__arrow {
        background-color: transparent;
        background-image: url(img/arrow.svg);
        background-size: contain;
        width: 32px;
        height: 32px;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        left: 12px;

        &-next {
            transform: rotate(180deg) translateY(-50%);
            right: 12px;
            left: auto;
            z-index: 3;
            transform-origin: top;
        }
    }

}

.sliderReviews {
    padding-top: 49px;
    padding-left: 49px;
    padding-right: 49px;
    position: relative;
    max-width: 750px;
    margin: 0 auto;

    &__star {
        margin-right: 5px;
        margin-left: 5px;
    }

    &__raiting {
        display: flex;
        justify-content: center;
        padding-top: 0;
        margin-top: 0;
        padding-bottom: 10px;
    }

    &__content {
        max-width: 567px;
        text-align: left;
        margin: 0 auto;
    }

    &__text {
        font-size: 18px;
        text-align: left;
        font-weight: 400;
        margin-bottom: 22px !important;
    }

    &__arrow {
        background-image: url(img/arrow-review.svg);
        border: none;
        background-size: contain;
        width: 12px;
        height: 18px;
        z-index: 2;
        background-color: transparent;
        background-repeat: no-repeat;
        position: absolute;
        top: 96px;
        left: -25px;

        &-next {
            transform: rotate(180deg);
            left: auto;
            right: -25px;
        }
    }
}

footer {
    background-color: $primary_bg_color;
    color: $primary_color_text_second;
    height: 140px;
    padding: 55px;
    display: flex;
    justify-content: flex-end;

    .facebook {
        background-image: url("img/Facebook.png");
        width: 30px;
        height: 30px;
    }
}

////404////

.errorSection {
    font-size: 150px;
    color: $primary_color_text;
    display: flex;
    justify-content: center;

    &__block {
        padding: 100px;
        text-align: center;
    }

    &__item {
        font-size: 60px;
    }
}

.header__404 {
    text-decoration: none;
    color: $primary_color_text_second;
    background-color: $primary_bg_color;
    text-align: center;
    width: 100%;
    padding: 19px 27px;
    display: block;
}


////search////
.sectionNotFound {
    color: $primary_color_text;
    text-align: center;
    padding: 250px;

    &__text {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.search-field,
.search-submit {
    border: 1px solid #dcdcdc;
    color: $primary_color_text;
}

.search {

    &__title {
        color: $primary_color_text;
        text-align: center;
        padding: 55px;
    }

    &__links {
        color: $primary_color_text;
        text-decoration: none;
        display: block;
        margin-top: 20px;

        &:hover {
            color: #d78346;
        }
    }
}

/////post-testimonials/////

.post {
    display: flex;

    &__title,
    &__content {
        margin-left: 20px;
    }

    &__title {
        color: $primary_color_text;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    &__content {
        width: 500px;
    }


}

.post-navigation {
    display: flex;
    justify-content: center;
}

.nav-links {
    display: block;
    margin-left: 0 auto;

    a {
        text-decoration: none;
        color: $primary_color_text;

        &:hover {
            color: #d78346;
        }
    }
}

////archive/////

.archive {
    text-align: center;

    &__title {
        margin-top: 50px;
        color: $primary_color_text;

    }
}

///media-querys///

@media screen and (min-width: 480px) {
    .header {
        &__title {
            font-size: 60px;
            bottom: 170px;
        }

        &__text {
            margin-left: 40px;
            width: 400px;
            margin: 0 auto;
        }

        &__item {
            font-size: 100px;
            bottom: 75px;
        }

        &__description {
            font-size: 40px;
            bottom: 40px;
        }
    }

    
    ////404////

    .errorSection {
        font-size: 60px;

        &__block {
            padding: 30px;
        }

        &__item {
            font-size: 30px;
        }
    }

}

@media screen and (min-width: 650px) {

    .sliderSection {

        &__title {
            font-size: 30px;
        }
    }

    .sliderImages {

        &__item {
            height: 340px;
        }

        &__arrow {
            left: 22px;
            width: 44px;
            height: 44px;

            &-next {
                right: 22px;
                left: auto;
            }
        }
    }

    .sliderReviews {
        padding-bottom: 25px;

        &__star {
            width: 44px;
            height: 44px;
        }

        &__arrow {
            width: 25px;
            height: 40px;
            top: 96px;
            left: -35px;

            &-next {
                transform: rotate(180deg);
                left: auto;
                right: -35px;
            }
        }
    }

    ////404////

    .errorSection {
        font-size: 60px;

        &__block {
            padding: 30px;
        }

        &__item {
            font-size: 30px;
        }
    }
}



@media screen and (min-width: 768px) {
    .sliderImages {

        &__item {
            height: 450px;
        }
    }
}

@media screen and (min-width: 991px) {
    .form {
        position: absolute;
        z-index: 4;
        top: 150px;
        right: 40px;
        max-width: 320px;

        &__title {
            text-shadow: 2px 2px 2px #000;
        }
    }

    .sliderSection {
        padding-top: 190px;

        &__text {
            margin-bottom: 38px;
        }

        &__bottom {
            padding-bottom: 87px;
        }
    }

    .sectionCounter {
        height: 212px;
    }

    .header {
        &__title {
            font-size: 75px;
            bottom: 220px;
        }

        &__text {
            margin-left: 40px;
            width: 600px;
        }

        &__item {
            font-size: 144px;
            bottom: 75px;
        }

        &__description {
            font-size: 44px;
            bottom: 26px;
        }
    }

    .sliderImages {

        &__item {
            height: 581px;
        }

        &__arrow {
            left: 33px;
            width: 66px;
            height: 66px;

            &-next {
                right: 33px;
                left: auto;
            }
        }
    }

    .sliderReviews {

        &__arrow {
            width: 25px;
            height: 40px;
            top: 96px;
            left: -45px;

            &-next {
                transform: rotate(180deg);
                left: auto;
                right: -45px;
            }
        }
    }

    ////404////

    .errorSection {
        font-size: 150px;

        &__block {
            padding: 100px;
        }

        &__item {
            font-size: 60px;
        }
    }

}



@media screen and (min-width: 1280px) {
    .form {
        max-width: 467px;
        margin-right: 85px;
    }

    .sliderImages {

        &__arrow {
            left: -37px;
            width: 74px;
            height: 74px;

            &-next {
                right: -37px;
                left: auto;
            }
        }
    }

    .sliderReviews {
        padding-bottom: 98px;

        &__arrow {
            width: 25px;
            height: 40px;
            top: 96px;
            left: -57px;

            &-next {
                transform: rotate(180deg);
                left: auto;
                right: -57px;
            }
        }
    }
}